<!DOCTYPE html>
{% load staticfiles %}
<html>
<head lang="pl">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.css' %}"/>
    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap-theme.css' %}" />
    <link rel="stylesheet" href="{% static 'Site.css' %}" />
    <link rel="stylesheet" href="{% static 'font-awesome-4.3.0\css\font-awesome.css' %}" />
    <link rel="stylesheet" href="{% static 'font-awesome-4.3.0\css\font-awesome-animation.css' %}" />
    <title>Vapor</title>
</head>
<body>
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">Vapor</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
		  {% if user.is_superuser %}
			 <li><a href="/admin/"><i class="fa fa-sign-in fa-lg"></i> Admin panel</a></li>
			 <li><a href="/accounts/profile/"><i class="fa fa-edit fa-lg"></i> My account</a></li>
                <li><a href="/logout/"><i class="fa fa-sign-out fa-lg"></i> Sign out</a></li>
            {% elif user.is_authenticated %}
                <li><a href="/accounts/profile/"><i class="fa fa-edit fa-lg"></i> My account</a></li>
                <li><a href="/logout/"><i class="fa fa-sign-out fa-lg"></i> Sign out</a></li>
		  {% else %}
                <li><a href="/login/"><i class="fa fa-sign-in fa-lg"></i> Sign in</a></li>
                <li><a href="/register/"><i class="fa fa-user-plus fa-lg"></i> Register</a></li>
            {% endif %}
          </ul>
        </div>
      </div>
    </nav>

    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-3 col-md-2 sidebar">
          <ul class="nav nav-sidebar">
            <li ><a href="/">Home</a></li>
            <li><a href="/games/">Games</a></li>
          </ul>
          {% if user.is_authenticated %}
              <ul class="nav nav-sidebar">
                <li><a href="/mygames/">My games</a></li>
              </ul>
          {% endif %}

        </div>
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
            <div class="modal fade" id="modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            </div>
            {% for message in messages %}
                <div class="alert alert-{{ message.tags }}">{{ message }}</div>
            {% endfor %}
            {% block content %}{% endblock %}

          </div>
        </div>
      </div>
    </div>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script src="{% static 'bootstrap/js/bootstrap.js' %}"></script>
    <script>
    setTimeout(function(){
        $(".alert").slideUp(1000, function() {
            $(".alert").remove();
        })
    }, 2000);
    </script>
    {% block scripts %}{% endblock %}
    <!-- Just to make our placeholder images work. Don't actually copy the next line! -->
    <!--<script src="../../assets/js/vendor/holder.js"></script>-->
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <!--<script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>-->
</body>
</html>
