{% extends "base.html" %}

{% block content %}
<h1 class="page-header">Create new account</h1>
{% if registered %}
<strong>Thank you for registering!</strong>
You can log in now:<br/>
<a href="/login/">Go to login page.</a><br />
{% else %}
<strong>Register here!</strong><br />

<form id="user_form" method="post" action="/register/"
	enctype="multipart/form-data">

    {% csrf_token %}
    {{ user_form.as_p}}
    <input type="submit" name="submit" value="Register" />
</form>
{% endif %}
{% endblock %}