{% extends "base.html" %}

{% block content %}
<h1 class="page-header">Games</h1>

<form id="filterForm" action="{{ request.path }}" method="get">
    {{ form }}
    <input type="submit" value="Filter" class="btn btn-default btn-sm" />
    <button type="button" class="btn btn-default btn-sm" onclick="clearFilters()">Clear</button>
</form>

<div class="list-group">
    {% for title in object_list %}
        <a href="/games/{{ title.id }}" class="list-group-item">
            <h4 class="list-group-item-heading">
                {{ title.name }}
            </h4>
            <div class="row">
                <div class="col-xs-12 col-sm-6 col-md-4">
                    <span>Genre: {{ title.genre_name.name }}</span>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-4">
                    <span class="list-group-item-text">Rating:
                        {% if title.rating %}
                            {{ title.rating|stringformat:".1f" }}
                        {% else %}
                            No ratings yet
                        {% endif %}
                    </span>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-4">
                    <span class="list-group-item-text">
                        {% for game in title.game_set.all %}
                            {% if game in games or not games %}
                                <label class="label label-default">
                                {% if "windows" in game.platform.name|lower %}<i class="fa fa-lg fa-windows"></i> {% endif %}
                                {% if "android" in game.platform.name|lower %}<i class="fa fa-lg fa-android"></i> {% endif %}
                                {% if "linux" in game.platform.name|lower %}<i class="fa fa-lg fa-linux"></i> {% endif %}
                                {% if "xbox" in game.platform.name|lower %}<i class="fa fa-lg fa-gamepad"></i> {% endif %}
                                {% if "playstation" in game.platform.name|lower %}<i class="fa fa-lg fa-gamepad"></i> {% endif %}
                                {{ game.platform.name }}</label>
                                </label>
                            {% endif %}
                        {% endfor %}
                    </span>
                </div>
            </div>
          </a>
    {% endfor %}
</div>

{% endblock %}

{% block scripts %}
<script type="text/javascript">
    function clearFilters() {
        $("#id_title").val("");
        $("#id_genre").val("");
        $("#id_platform").val("");
        $("#id_tag").val("");
        $("#filterForm").submit();
    }
</script>
{% endblock %}