{% extends "base.html" %}
{% block content %}
<h1 class="page-header" xmlns="http://www.w3.org/1999/html">{{ object.title.name }}</h1>
<div id="game-cover-photo" class="col-md-3">
    <img src="/static/{{ object.picture.url }}" style="width: 100%;"/>
</div>
<div id="game-info" class="col-md-4">
    <table class="table">
        <thead class="">
        <tr>
        <th>Name:</th>
        <th>{{ object.name }}
        </th>
      </tr></thead>
    <tbody>
      <tr>
        <td>About game:</td>
        <td>{{ object.synopsis }}</td>
      </tr>
      <tr>
        <td>Genre</td>
        <td>{{ object.genre_name }}</td>
      </tr>
      <tr>
        <td>Tags</td>
        <td>
        {% for tag in object.tag.all %}
            <label class="label label-info">
                <i class="fa fa-tag"></i>
                {{tag}}
            </label>
        {% endfor %}
        </td>
      </tr>
    </tbody>
  </table>
    </div>
<div id="game-platforms" class="col-md-4">
<table class="table">
    <thead>
        <tr>
            <td>Platform available</td>
            {% if user.is_authenticated %}
                <td>My rating</td>
            {% endif %}
            <td>Price</td>
        </tr>
    </thead>
    <tbody>
    {% for game in object.game_set.all %}
        <tr>
            <td><h3><label class="label label-primary">
                {% if "windows" in game.platform.name|lower %}<i class="fa fa-lg fa-windows "></i> {% endif %}
                {% if "android" in game.platform.name|lower %}<i class="fa fa-lg fa-android"></i> {% endif %}
                {% if "linux" in game.platform.name|lower %}<i class="fa fa-lg fa-linux"></i> {% endif %}
                {% if "xbox" in game.platform.name|lower %}<i class="fa fa-lg fa-gamepad"></i> {% endif %}
                {% if "playstation" in game.platform.name|lower %}<i class="fa fa-lg fa-gamepad"></i> {% endif %}
                {{ game.platform.name }}
            </label></h3>
            </td>
            {% if user.is_authenticated %}
            <td><h3>


                     <form action="/gameRate/" method="post">
                     {% csrf_token %}
                    <input type="hidden" name="game" value="{{game.id}}">
                    <input type="hidden" class="form-control rate-input" name="rate" onchange="this.form.submit()">

                     <div class="btn-group">
                         <button type="button" class="btn
                          {% for rate in game.rating_set.all %}
                            {% if rate.user.id == user.id %}
                             {% if rate.rating > 8 %}
                             btn-success
                            {% elif rate.rating > 6 %}
                            btn-primary
                            {% elif rate.rating > 4 %}
                            btn-info
                            {% elif rate.rating > 2 %}
                            btn-warning
                            {% elif rate.rating >= 0 %}
                            btn-danger
                            {% endif %}
                            {% endif %}
                        {% endfor %}
                          dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                             Rating:
                         {% for rate in game.rating_set.all %}
                            {% if rate.user.id == user.id %}
                             {{ rate.rating }}
                            {% endif %}
                        {% endfor %}
                             <span class="caret"></span>
                        </button>
                         <ul class="dropdown-menu" role="menu">
                             {% with '0 1 2 3 4 5 6 7 8 9 10' as list %}
                             {% for i in list.split %}
                                <li><a class = "change-rate" href="#">{{ i }}</a></li>
                             {% endfor %}
                             {% endwith %}
                         </ul>
                     </div>
                     </form>
            </h3></td>
            {% endif%}
            <td><h3><label class="label label-success">{{ game.price }}$</label></h3></td>
        </tr>
    {% endfor %}
    </tbody>
  </table>
</div>
{% if user.is_authenticated %}
<div id="game-buy" class="col-md-9 pull-right">

<form action="/gameOrder/" method="POST">
    {% csrf_token %}

    <label for="platform">Choose platform:</label>
    <select class="form-control" name="platform" id="platform">
        {% for game in object.game_set.all %}
            <option value="{{ game.id }}">{{ game.platform.name }}</option>
        {% endfor %}
    </select>
    <br/>
    <input type="submit" class="btn btn-success btn-lg pull-right" value="Give us money! Buy the game!" style="width: 100%;"/>
</form>
</div>
{%endif%}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
<script type="text/javascript">
$( document ).ready(function() {
    $(".change-rate").click( function(event){
    var x = $(event.target).text();
    $(event.target).parents("td").first().find(".rate-input").first().val(x);
    $(event.target).parents("td").first().find("form").submit();
    });
});
</script>
{% endblock %}
