{% extends "base.html" %}

{% block content %}

<h1 class="page-header">Logged out</h1>
<div>
    <h3 class="text-center">
        Thanks for spending some time (and money <i class="fa fa-smile-o"></i>) with our web site.<br />
        We will miss you! <br/>
        <i style="color:red;" class = "fa fa-heart faa-pulse animated fa-2x"></i>
    </h3>
</div>

{% endblock %}