{% extends "base.html" %}

{% block content %}

{% if form.errors %}
<div class="alert alert-danger" role="alert">
    Your username and password didn't match. Please try again.
</div>
{% endif %}
<h1 class="page-header">Sign in</h1>

<!--<form method="post" action="{% url 'django.contrib.auth.views.login' %}">-->
<!--{% csrf_token %}-->
<!--<table>-->
<!--<tr>-->
<!--<td>{{ form.username.label_tag }}</td>-->
<!--<td>{{ form.username }}</td>-->
<!--</tr>-->
<!--<tr>-->
<!--<td>{{ form.password.label_tag }}</td>-->
<!--<td>{{ form.password }}</td>-->
<!--</tr>-->
<!--</table>-->

<!--<input type="submit" class="btn btn-primary" value="Sign in" />-->
<!--<a href="{% url 'password_reset' %}" class="btn btn-primary">Reset password</a>-->
<!--<input type="hidden" name="next" value="{{ next }}" />-->
<!--</form>-->

<form class="form-horizontal" method="post" action="{% url 'django.contrib.auth.views.login' %}">
    {% csrf_token %}
    <div class="form-group">
        <label for="{{ form.username.id_for_label }}"
               class="col-sm-2 control-label">{{ form.username.label_tag }}
        </label>

        <div class="col-sm-10">
            <input type="text" class="form-control" id="{{ form.username.id_for_label }}"
                   name="{{ form.username.html_name }}"
                   value="{{ form.username.value|default_if_none:'' }}" placeholder="User name">
        </div>
    </div>

    <div class="form-group">
        <label for="form.password.id_for_label" class="col-sm-2 control-label">{{ form.password.label_tag }}</label>

        <div class="col-sm-10">
            <input type="password" class="form-control" id="{{ form.password.id_for_label }}"
                   name="{{ form.password.html_name }}"
                   value="{{ form.password.value|default_if_none:'' }}" placeholder="Password">
        </div>
    </div>

    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            <input type="submit" class="btn btn-primary" value="Sign in"/>
            <a href="{% url 'password_reset' %}" class="btn btn-primary">Reset password</a>
            <input type="hidden" name="next" value="{{ next }}"/>
        </div>
    </div>
</form>

{% endblock %}