{% extends "base.html" %}

{% block content %}

<h1 class="page-header">Password reset</h1>
{% if validlink %}
    Please enter your new password twice so we can verify you typed it in correctly.
    <form method="post" class="form-horizontal">
        {% csrf_token %}
        <div class="form-group">
        <label for="{{ form.new_password1.id_for_label }}"
               class="col-sm-2 control-label">{{ form.new_password1.label_tag }}
        </label>

        <div class="col-sm-10">
            <input type="password" class="form-control" id="{{ form.new_password1.id_for_label }}"
                   name="{{ form.new_password1.html_name }}"
                   value="{{ form.new_password1.value|default_if_none:'' }}">
        </div>
    </div>

    <div class="form-group">
        <label for="{{ form.new_password2.id_for_label }}"
               class="col-sm-2 control-label"> Confirm password
        </label>

        <div class="col-sm-10">
            <input type="password" class="form-control" id="{{ form.new_password2.id_for_label }}"
                   name="{{ form.new_password2.html_name }}"
                   value="{{ form.new_password2.value|default_if_none:'' }}">
        </div>
    </div>

    <input type="submit" class="btn btn-primary" value="Change password" />
    </form>
{% else %}
    <div class="alert alert-danger" role="alert">
        Invalid url
    </div>
{% endif %}


{% endblock %}