{% extends "base.html" %}

{% block content %}

<h1 class="page-header">Password reset sent</h1>
<div class="alert alert-success" role="alert">
    We've emailed you instructions for setting your password, if an account exists with the email you entered. You should receive them shortly.
    <br />
    If you don't receive an email, please make sure you've entered the address you registered with, and check your spam folder.
</div>

{% endblock %}