{% extends "base.html" %}

{% block content %}

<h1 class="page-header">Change your password</h1>

<form class="form-horizontal" method="post" >
{% csrf_token %}

    <div class="form-group">
        <label for="{{ form.old_password.id_for_label }}"
               class="col-sm-2 control-label">{{ form.old_password.label_tag }}
        </label>

        <div class="col-sm-10">
            <input type="password" class="form-control" id="{{ form.old_password.id_for_label }}"
                   name="{{ form.old_password.html_name }}"
                   value="{{ form.old_password.value|default_if_none:'' }}">
        </div>
    </div>

    <div class="form-group">
        <label for="{{ form.new_password1.id_for_label }}"
               class="col-sm-2 control-label">{{ form.new_password1.label_tag }}
        </label>

        <div class="col-sm-10">
            <input type="password" class="form-control" id="{{ form.new_password1.id_for_label }}"
                   name="{{ form.new_password1.html_name }}"
                   value="{{ form.new_password1.value|default_if_none:'' }}">
        </div>
    </div>

    <div class="form-group">
        <label for="{{ form.new_password2.id_for_label }}"
               class="col-sm-2 control-label">{{ form.new_password2.label_tag }}
        </label>

        <div class="col-sm-10">
            <input type="password" class="form-control" id="{{ form.new_password2.id_for_label }}"
                   name="{{ form.new_password2.html_name }}"
                   value="{{ form.new_password2.value|default_if_none:'' }}">
        </div>
    </div>

    <input type="submit" class="btn btn-primary" value="Change" />
</form>

{% endblock %}