{% extends "base.html" %}

{% block content %}

<h1 class="page-header">Password reset complete</h1>
<div class="alert alert-success" role="alert">
    Your password has been set. You may go ahead and sign in now.
</div>

{% endblock %}