{% extends "base.html" %}

{% block content %}

<h1 class="page-header">Password reset</h1>
<h4 >
    Forgotten your password? Enter your email address below, and we'll email instructions for setting a new one.
</h4>
<form method="post" class="form-horizontal" >
    {% csrf_token %}

    <div class="form-group">
        <label for="{{ form.email.id_for_label }}"
               class="col-sm-1 control-label">{{ form.email.label_tag }}
        </label>

        <div class="col-sm-10">
            <input type="email" class="form-control" id="{{ form.email.id_for_label }}"
                   name="{{ form.email.html_name }}"
                   value="{{ form.email.value|default_if_none:'' }}">
        </div>
    </div>

    <input type="submit" class="btn btn-primary" value="Reset" />
</form>

{% endblock %}