{% extends "base.html" %}

{% block content %}
<h1 class="page-header">Your profile</h1>

<h4>Username: {{ user.username }}</h4>
<h4>First name: {{ user.first_name }}</h4>
<h4>Last name: {{ user.last_name }}</h4>
<h4>Email: {{ user.email }}</h4>
<h4>Join date: {{ user.date_joined }}</h4>

<hr />

<a class="btn btn-primary" href="{% url 'password_change' %}">Change password</a>

{% endblock %}